@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}



.navbar{
   font-family: "Poppins";
   font-weight: 500;
   font-style: normal;
   letter-spacing: -0.05em;
   font-size: 1em;
   color: #040615;
   box-shadow:0 -1 0 #f6f6f6;
   border-bottom: solid 1px#f6f6f6;
}
.color{
    background-color: #fff;
}
#home{
    background-color: #fff;
    height: 85vh;
}
#home .content{
    text-align: center;
    padding: 250px 0 250px 0;
    

    
}

#home .content h3{
   font-family: "Poppins";
   font-weight: 500;
   font-style: normal;
   letter-spacing: -0.05em;
   font-size: 3.5em;
   color: #4b89dc;
}
#home .content p{
   font-family: "Poppins";
   font-weight: 500;
   font-style: normal;
   letter-spacing: -0.05em;
   font-size: 1em;
   color: #040615;
}


#about .content .leftside{
    background-color: #fff;
    padding: 70px 20px 60px 20px;
   
    
    
}

#about .content .rightside, #about .content .leftside {
    height: 100vh;
}

#about .content .rightside  img{
    padding-top: 70px;
}

#about .content .leftside ul{
    list-style: none; 
    padding: 0 0 30px;
}


#about .content .leftside i{
    font-size: 15px;
    padding-right: 5px;
}

#about .leftside p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.05em;
    color: #333;
    text-align: justify;
    
}

#about .leftside h3{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #333;
    padding-bottom: 20px;
}


#about .leftside h5{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}


#skills .content .leftside{
    background-color: #fff;
    padding: 70px 20px 60px 20px;
    height: 100vh;
    border-right:solid 1px #f6f6f6;
    border-top:solid 1px #f6f6f6;

    
}



#skills .content .leftside h3{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #333;
    padding-bottom: 20px;
    
}


#skills.content .leftside  p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    letter-spacing: -0.05em;
    color: #333;
    text-align: justify;
}


#skills  .content .rightside {
    height: 100vh;
    padding: 70px 20px 60px 20px;
    background-color: #4b89dc;
}


#skills .content .rightside  p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.05em;
    color: #fff;
    text-align: justify;
}

#skills .content .rightside h3{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    padding-bottom: 20px;
    color: #fff;
    
}

#skills .content .leftside ul{
    list-style: none; 
    padding: 0 0 30px;
}


#skills .content .leftside i{
    font-size: 15px;
    padding-right: 5px;
}

#services{
    background-color: #fff;
    height: 100vh;
}

#contact {
    background-color: #333;
    padding: 30px 0 30px 0;
}

#contact .social-media{
    padding: 30px 0 0 0;
}

#contact .social-media ul{
 list-style: none; 
 text-align: center;
 

}

#contact .social-media li {
 color: #fff;
 display: inline-flex;
 padding-right: 10px;
}

#contact .social-media a{
    font-size: 8px;
    color: #fff;
}
#contact  .credit p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    letter-spacing: -0.05em;
    font-size: x-small;
    color: #fff;
    text-align: center;
}

